.mediaViewInfo {
	--web-view-name: Main Home Page 1366 x 768;
	--web-view-id: Main_Home_Page_1366_x_768;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Main_Home_Page_1366_x_768;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Main_Home_Page_1366_x_768 {
	position: absolute;
	width: 1366px;
	height: 4500px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Main Home Page 1366 x 768;
	--web-view-id: Main_Home_Page_1366_x_768;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-center-vertically: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#stock-photo-128278505 {
	position: fixed;
	width: 546px;
	height: 571px;
	left: 765px;
	top: -115px;
	overflow: visible;
}
#Path_33 {
	fill: rgba(49,125,208,1);
}
.Path_33 {
	overflow: visible;
	position: fixed;
	width: 1366px;
	height: 68px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Company____name_di {
	opacity: 0.87;
	left: 27px;
	top: 10.653px;
	position: fixed;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#Categories {
	left: 325px;
	top: 21px;
	position: fixed;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#How_it_works {
	left: 664px;
	top: 21px;
	position: fixed;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#Sign_up__Login {
	left: 969px;
	top: 20px;
	position: fixed;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 23px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#Connect_with_experts_to_get_th {
	left: 84px;
	top: 93px;
	position: absolute;
	overflow: visible;
	width: 909px;
	height: 77px;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(10,10,10,1);
}
#Its_amazing_what_you_cant_do_y {
	opacity: 0.88;
	left: 103px;
	top: 153px;
	position: absolute;
	overflow: visible;
	width: 870px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(10,10,10,1);
}
#Group_27 {
	position: absolute;
	width: 197px;
	height: 46px;
	left: 468px;
	top: 253px;
	overflow: visible;
}
#Component_25__1 {
	position: absolute;
	width: 197px;
	height: 46px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_18 {
	opacity: 0.97;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_18 {
	overflow: visible;
	position: absolute;
	width: 197px;
	height: 46px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Get_started_now {
	left: 8px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 183px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Group_27_v {
	position: absolute;
	width: 197px;
	height: 46px;
	left: 585px;
	top: 687px;
	overflow: visible;
}
#Component_25__1_w {
	position: absolute;
	width: 197px;
	height: 46px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_18_x {
	opacity: 0.97;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_18_x {
	overflow: visible;
	position: absolute;
	width: 197px;
	height: 46px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#View_all {
	left: 55px;
	top: 6px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Rectangle_14 {
	opacity: 0.27;
	fill: rgba(255,255,255,1);
	stroke: rgba(10,10,10,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14 {
	filter: drop-shadow(50px 50px 50px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 335px;
	height: 303px;
	left: 151px;
	top: 514px;
}
#Mask_Group_8 {
	opacity: 0.5;
	position: absolute;
	width: 65px;
	height: 50px;
	left: 209px;
	top: 541px;
	overflow: visible;
}
#Home_Cleaning_ {
	opacity: 0.52;
	left: 175px;
	top: 605px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(10,10,10,1);
}
#Group_14 {
	position: absolute;
	width: 1319px;
	height: 181px;
	left: 47px;
	top: 796.937px;
	overflow: visible;
}
#Group_12 {
	position: absolute;
	width: 1319px;
	height: 181px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_15 {
	position: absolute;
	width: 1319px;
	height: 181px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_7 {
	fill: rgba(18,93,93,1);
	stroke: rgba(14,31,243,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 1319px;
	height: 181px;
	left: 0px;
	top: 0px;
}
#After_Pay {
	left: 87px;
	top: 30px;
	position: absolute;
	overflow: visible;
	width: 159px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	color: rgba(255,255,255,1);
}
#Now_Available_ {
	left: 99px;
	top: 96px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Get_it_done_now_Pay_later {
	left: 374px;
	top: 38.038px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Repay_in_4_fortnightly_instalm {
	left: 374px;
	top: 98.453px;
	position: absolute;
	overflow: visible;
	width: 370px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#No_interest {
	left: 792px;
	top: 53.937px;
	position: absolute;
	overflow: visible;
	width: 124px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Available_on_payments_up_to_15 {
	left: 792px;
	top: 99px;
	position: absolute;
	overflow: visible;
	width: 395px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Learn_more {
	left: 1155px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Path_32 {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_32 {
	overflow: visible;
	position: absolute;
	width: 1234.002px;
	height: 4px;
	left: 86.5px;
	top: 1086.205px;
	transform: matrix(1,0,0,1,0,0);
}
#Ready_to_get_that_to-do_list_d {
	left: 240px;
	top: 1200.088px;
	position: absolute;
	overflow: visible;
	width: 374px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#Rectangle_9 {
	fill: rgba(62,134,188,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 255px;
	height: 74px;
	left: 930px;
	top: 1197.038px;
}
#Get_Started_now {
	left: 951px;
	top: 1218.616px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(255,255,255,1);
}
#Rectangle_8 {
	fill: rgba(224,245,249,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	filter: drop-shadow(50px 50px 50px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1516px;
	height: 455px;
	left: 0px;
	top: 1383.522px;
}
#See_what_others_are_getting_do {
	left: 399px;
	top: 1412.402px;
	position: absolute;
	overflow: visible;
	width: 548px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(10,10,10,1);
}
#Moving_home {
	left: 52px;
	top: 1502.589px;
	position: absolute;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(10,10,10,1);
}
#Starting_a_business {
	left: 361px;
	top: 1502.384px;
	position: absolute;
	overflow: visible;
	width: 291px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(10,10,10,1);
}
#Fixing_stuff {
	left: 761px;
	top: 1502.384px;
	position: absolute;
	overflow: visible;
	width: 170px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(10,10,10,1);
}
#Hosting_a_party {
	left: 1030px;
	top: 1502.589px;
	position: absolute;
	overflow: visible;
	width: 238px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(10,10,10,1);
}
#Got_a_few_boxes_to_shift_an_ap {
	left: 50px;
	top: 1600.846px;
	position: absolute;
	overflow: visible;
	width: 897px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(10,10,10,1);
}
#HOW_WE_WORK {
	left: 521px;
	top: 1749.248px;
	position: absolute;
	overflow: visible;
	width: 285px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(10,10,10,1);
}
#Check_out_the_video_below_to_s {
	left: 373px;
	top: 1839.596px;
	position: absolute;
	overflow: visible;
	width: 558px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(10,10,10,1);
}
#Rectangle_10 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 1162px;
	height: 418px;
	left: 115px;
	top: 1988.385px;
}
#Playable_Video {
	left: 509px;
	top: 2130.818px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(10,10,10,1);
}
#Post_your_Task_Tell_us_what_yo {
	left: 197px;
	top: 2558.095px;
	position: absolute;
	overflow: visible;
	width: 246px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#Review_offers_Get_offers_from_ {
	left: 598px;
	top: 2558.343px;
	position: absolute;
	overflow: visible;
	width: 275px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#Get_it_done_Choose_the_right_p {
	left: 1061px;
	top: 2550.008px;
	position: absolute;
	overflow: hidden;
	width: 549px;
	height: 165px;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#basket {
	position: absolute;
	width: 54.957px;
	height: 56.199px;
	left: 106px;
	top: 2566.788px;
	overflow: visible;
}
#Path_10 {
	fill: rgba(0,0,0,1);
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 45.959px;
	height: 13.501px;
	left: 4.5px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
	fill: rgba(0,0,0,1);
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 54.957px;
	height: 6.75px;
	left: 0px;
	top: 20.604px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
	fill: rgba(0,0,0,1);
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 50.457px;
	height: 18px;
	left: 2.25px;
	top: 38.199px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_13 {
	fill: rgba(0,0,0,1);
}
.Path_13 {
	overflow: visible;
	position: absolute;
	width: 39.207px;
	height: 9px;
	left: 7.875px;
	top: 42.699px;
	transform: matrix(1,0,0,1,0,0);
}
#bookmark-check {
	position: absolute;
	width: 44.606px;
	height: 63.939px;
	left: 496.643px;
	top: 2562.885px;
	overflow: visible;
}
#Path_14 {
	fill: rgba(0,0,0,1);
}
.Path_14 {
	overflow: visible;
	position: absolute;
	width: 37.854px;
	height: 63.939px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_15 {
	fill: rgba(0,0,0,1);
}
.Path_15 {
	overflow: visible;
	position: absolute;
	width: 12.378px;
	height: 9.005px;
	left: 32.227px;
	top: 2.247px;
	transform: matrix(1,0,0,1,0,0);
}
#person-check-fill {
	fill: rgba(0,0,0,1);
}
.person-check-fill {
	overflow: visible;
	position: absolute;
	width: 67.79px;
	height: 57px;
	left: 957.211px;
	top: 2563.014px;
	transform: matrix(1,0,0,1,0,0);
}
#What_you_need_to_done_ {
	left: 561px;
	top: 470px;
	position: absolute;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(10,10,10,1);
}
#Group_11 {
	position: absolute;
	width: 185px;
	height: 153px;
	left: 591px;
	top: 514px;
	overflow: visible;
}
#Plumbers {
	opacity: 0.51;
	left: 50px;
	top: 94px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(10,10,10,1);
}
#Rectangle_14_b {
	opacity: 0.27;
	fill: rgba(255,255,255,1);
	stroke: rgba(10,10,10,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14_b {
	filter: drop-shadow(50px 50px 50px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 335px;
	height: 303px;
	left: 0px;
	top: 0px;
}
#Path_21 {
	opacity: 0.53;
	fill: rgba(0,0,0,1);
}
.Path_21 {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 12px;
	left: 87.5px;
	top: 34.803px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_22 {
	opacity: 0.36;
	fill: rgba(0,0,0,1);
}
.Path_22 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 24px;
	left: 92px;
	top: 52.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_23 {
	opacity: 0.54;
	fill: rgba(0,0,0,1);
}
.Path_23 {
	overflow: visible;
	position: absolute;
	width: 39px;
	height: 18px;
	left: 74px;
	top: 58.948px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_9 {
	position: absolute;
	width: 185px;
	height: 153px;
	left: 1031px;
	top: 514px;
	overflow: visible;
}
#Rectangle_14_cc {
	opacity: 0.27;
	fill: rgba(255,255,255,1);
	stroke: rgba(10,10,10,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_14_cc {
	filter: drop-shadow(50px 50px 50px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 335px;
	height: 303px;
	left: 0px;
	top: 0px;
}
#Electricians_ {
	opacity: 0.75;
	left: 1079px;
	top: 616.876px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Scroll_Group_1 {
	mix-blend-mode: normal;
	position: absolute;
	width: 36.196px;
	height: 67px;
	left: 1107px;
	top: 536.84px;
	overflow: visible;
}
#Group_10 {
	opacity: 0.54;
	position: absolute;
	width: 36.196px;
	height: 36px;
	left: 0px;
	top: 21px;
	overflow: visible;
}
#cloud-lightning {
	position: absolute;
	width: 36.196px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_24 {
	fill: rgba(0,0,0,1);
}
.Path_24 {
	overflow: visible;
	position: absolute;
	width: 36.196px;
	height: 27px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_25 {
	fill: rgba(0,0,0,1);
}
.Path_25 {
	overflow: visible;
	position: absolute;
	width: 12.15px;
	height: 20.953px;
	left: 11.07px;
	top: 15.047px;
	transform: matrix(1,0,0,1,0,0);
}
#Why_people_work_with_us_ {
	left: 544px;
	top: 2809.331px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	text-align: left;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Rectangle_16 {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_16 {
	filter: drop-shadow(12px 12px 0px rgba(0, 0, 0, 0.541));
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 406px;
	left: 93px;
	top: 3018px;
}
#Rectangle_17 {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_17 {
	filter: drop-shadow(12px 12px 0px rgba(0, 0, 0, 0.541));
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 406px;
	left: 515px;
	top: 3018px;
}
#Rectangle_18 {
	filter: blur(50px);
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18 {
	filter: drop-shadow(12px 12px 0px rgba(0, 0, 0, 0.541));
	position: absolute;
	overflow: visible;
	width: 334px;
	height: 406px;
	left: 937px;
	top: 3018px;
}
#Line_3 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 224px;
	height: 1px;
	left: 139.5px;
	top: 3314.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 224px;
	height: 1px;
	left: 569.5px;
	top: 3314.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_5 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 224px;
	height: 1px;
	left: 986.5px;
	top: 3314.5px;
	transform: matrix(1,0,0,1,0,0);
}
#twitter {
	fill: rgba(0,0,0,1);
}
.twitter {
	overflow: visible;
	position: absolute;
	width: 35.777px;
	height: 29.907px;
	left: 328px;
	top: 3353px;
	transform: matrix(1,0,0,1,0,0);
}
#Via {
	left: 282px;
	top: 3353px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#Via_cs {
	left: 716px;
	top: 3353px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#twitter_ct {
	fill: rgba(0,0,0,1);
}
.twitter_ct {
	overflow: visible;
	position: absolute;
	width: 35.777px;
	height: 29.907px;
	left: 1191px;
	top: 3353px;
	transform: matrix(1,0,0,1,0,0);
}
#Via_cu {
	left: 1133px;
	top: 3353px;
	position: absolute;
	overflow: visible;
	width: 35px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#Review {
	left: 204px;
	top: 3192px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#Review_cw {
	left: 637px;
	top: 3192px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#Review_cx {
	left: 1055px;
	top: 3192px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#facebook {
	fill: rgba(0,0,0,1);
}
.facebook {
	overflow: visible;
	position: absolute;
	width: 19.5px;
	height: 33px;
	left: 774px;
	top: 3353px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_19 {
	fill: rgba(208,233,245,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 524px;
	left: 0px;
	top: 3976px;
}
#Discover_How_it_works_Airtaske {
	left: 105px;
	top: 4221px;
	position: absolute;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(10,10,10,1);
}
#Company_About_us_Careers_Commu {
	left: 427px;
	top: 4125px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(10,10,10,1);
}
#Existing_Members_Post_a_task_B {
	left: 759px;
	top: 4219px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(10,10,10,1);
}
#Popular_Categories_Handyman_Se {
	left: 1049px;
	top: 4118px;
	position: absolute;
	overflow: visible;
	width: 173px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(10,10,10,1);
}
#formatquote_baseline {
	fill: rgba(0,0,0,1);
}
.formatquote_baseline {
	overflow: visible;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 105px;
	top: 2960px;
	transform: matrix(1,0,0,1,0,0);
}
#formatquote_baseline_c {
	fill: rgba(0,0,0,1);
}
.formatquote_baseline_c {
	overflow: visible;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 546px;
	top: 2960px;
	transform: matrix(1,0,0,1,0,0);
}
#formatquote_baseline_da {
	fill: rgba(0,0,0,1);
}
.formatquote_baseline_da {
	overflow: visible;
	position: absolute;
	width: 35px;
	height: 35px;
	left: 969px;
	top: 2960px;
	transform: matrix(1,0,0,1,0,0);
}
#Company____name_c {
	opacity: 0.87;
	left: 77px;
	top: 3983.653px;
	position: fixed;
	overflow: visible;
	width: 152px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(10,10,10,1);
}
#Copyright_2020__Inc_All_rights {
	left: 447px;
	top: 4467px;
	position: absolute;
	overflow: visible;
	width: 409px;
	white-space: nowrap;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(10,10,10,1);
}
#logo-facebook {
	fill: rgba(0,0,0,1);
}
.logo-facebook {
	overflow: visible;
	position: absolute;
	width: 27px;
	height: 27.001px;
	left: 246px;
	top: 4069px;
	transform: matrix(1,0,0,1,0,0);
}
#logo-twitter {
	fill: rgba(0,0,0,1);
}
.logo-twitter {
	overflow: visible;
	position: absolute;
	width: 33.181px;
	height: 27px;
	left: 147px;
	top: 4070px;
	transform: matrix(1,0,0,1,0,0);
}
#logo-linkedin {
	fill: rgba(0,0,0,1);
}
.logo-linkedin {
	overflow: visible;
	position: absolute;
	width: 26.993px;
	height: 26.993px;
	left: 43px;
	top: 4069px;
	transform: matrix(1,0,0,1,0,0);
}
#md-arrow-back {
	fill: rgba(0,0,0,1);
}
.md-arrow-back {
	overflow: visible;
	position: absolute;
	width: 24.046px;
	height: 24.046px;
	left: 53px;
	top: 3185px;
	transform: matrix(1,0,0,1,0,0);
}
#md-arrow-forward {
	fill: rgba(0,0,0,1);
}
.md-arrow-forward {
	overflow: visible;
	position: absolute;
	width: 24.046px;
	height: 24.046px;
	left: 1291px;
	top: 3197px;
	transform: matrix(1,0,0,1,0,0);
}
#md-arrow-up {
	fill: rgba(0,0,0,1);
}
.md-arrow-up {
	overflow: visible;
	position: absolute;
	width: 24.046px;
	height: 24.046px;
	left: 1327px;
	top: 3923px;
	transform: matrix(1,0,0,1,0,0);
}
#Questions_about_our_plans_Call {
	left: 931px;
	top: 3986px;
	position: absolute;
	overflow: visible;
	width: 421px;
	white-space: nowrap;
	text-align: center;
	font-family: Myanmar Text;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(10,10,10,1);
}
#Company____name_di {
	opacity: 0.87;
	left: 27px;
	top: 10.653px;
	position: fixed;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#Path_33_dh {
	opacity: 0.1;
	fill: rgba(91,151,217,1);
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_33_dh {
	display: none;
	overflow: visible;
	position: fixed;
	width: 1366px;
	height: 68px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Company____name_di {
	opacity: 0.87;
	left: 27px;
	top: 10.653px;
	position: fixed;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#Component_35__1 {
	position: absolute;
	width: 186px;
	height: 34px;
	left: 1169px;
	top: 20px;
	overflow: visible;
}
#Became_a_tasker {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#Browse_Tasks {
	left: 475px;
	top: 22px;
	position: fixed;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Browse_Task_1366_x_768___1.html;
	cursor: pointer;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}
#Component_33__1 {
	position: absolute;
	width: 124px;
	height: 34px;
	left: 162px;
	top: 21px;
	overflow: visible;
}
#Post_a_task {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.05px;
}