@import "./mixins";

.bid-card{
  width: 100% !important;
  box-shadow: rgba(0,0,0,0.1) 0px 0px 7px !important;
  transition: all 0.4s ease  !important;
  cursor: pointer !important;
  border-radius: 4px !important;
  border: 0 !important;
  border-bottom: 1px solid #2320CC !important;
  &:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 12px !important;
    transform: translateY(-10px) !important;
  }
  .header{
    display: grid !important;
    grid-template-columns: 1fr 3fr !important;
    grid-template-rows: 1fr !important;
    .bid-user-infp{
      grid-column: 2;
      grid-row: 1;
      .bid-user-name{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
      }
      .bid-user-date{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: rgba(0,0,0,0.4);
      }
    }
    .bid-user-profile{
      grid-column: 1;
      grid-row: 1/span 1;
    }
    .user-pic-bid{
      height: 50px;
      width: 50px;
    }
  }
  .description{
    height: fit-content !important;
    font-family: 'Raleway', sans-serif;
  }
  .accept-button{
    @include blue-button;
  }
}