@import './mixins';

.card-browse {
  width: 100% !important;
  height: 40% !important;
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  @include flex-row-center;
  background-color: rgb(241, 241, 255) !important;
  color: rgb(85, 83, 255) !important;
  @include card-property;
  .description{
    font-size: 30px !important;
  }
}
.card-create {
  width: 100% !important;
  height: 40% !important;
  box-shadow: none !important;
  @include flex-row-center;
  background-color: rgb(245, 245, 245) !important;
  color: rgb(85,83,255) !important;
  @include card-property;
  .description{
    font-size: 30px !important;
  }
}