.card-browse{
  width: 100% !important;
  height: 40% !important;
  margin-bottom: 30px !important;
  margin-top: 20px !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.card-create {
  width: 100% !important;
  height: 40% !important;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}