@import "./mixins";

*{
    font-size: 18px;
}

@media screen and (max-width: 420px) {
    .task-card{
        width: 100% !important;
        margin-bottom: 30px !important;
        border-left: 3px solid green !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
        .content{
            padding: 0.5rem !important;
        }
        .task-card-desc{
            display: grid !important;
            grid-template-columns: 3fr 1fr !important;
            grid-template-rows: 1fr 1fr !important;
            height: fit-content !important;
            .title{
                grid-row: 1;
                grid-column: 1;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                height: fit-content !important;
            }
            .price{
                margin-left: 10px;
                grid-row: 1;
                grid-column: 2;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 600;
                @include flex-row;
                justify-content: center;
                font-size: 25px;
                height: fit-content !important;
            }
            .photo{
                grid-row: 2;
                grid-column: 2;
                @include flex-row;
                justify-content: center;
                .user-profile{
                    height: 40px;
                    width: 40px;
                }
            }
            .info{
                grid-row: 2;
                grid-column: 1;
                @include flex-column;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
                .location{
                    @include flex-row;
                    margin-bottom: 10px;
                    align-items: center;
                    .location-img{
                       width: 15px;
                       height: 15px;
                        margin-right: 10px;
                    }
                }
                .date{
                    @include flex-row;
                    align-items: center;
                    .date-img{
                        width: 15px;
                        height: 15px;
                        margin-right: 10px;
                    }
                }
            }
        }
        .bottom{
            @include flex-row-important;
            height: 30px !important;
            .status{
                font-size: 15px !important;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 700;
                color: green;
            }
            .offer{
                font-size: 15px !important;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 400;
            }
        }
    }
}