@import './mixins';

*{
  font-size: 18px;
}

.status-bar{
  background-color: red;
  opacity: 0.6;
  height: 14px;
  position: absolute;
  top: 0;
  width: 415px;
  left: -16px;
}
.back-button{
  @include back-button;
}
.task-detail{
  margin-top: 20px;
  @include  flex-column;
  .outer{
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
  }
  .detail-status-button{
    @include flex-row;
    justify-content: space-between;
    .detail-follow{
      @include flex-row-center;
      border-radius: 8px;
      background-color: lightblue;
      width: 60px;
      color: blue;
      font-size: 15px;
    }
  }
  .detail-heading{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    @include flex-row;
    justify-content: flex-start;
  }
  .detail-user{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    .detail-user-image {
      @include flex-row-center;
      grid-column: 1;
      .detail-user-img {
        width: 35px;
        height: 35px;
        opacity: 0.8;
      }
    }
    .detail-user-name{
      grid-column: 2;
      .detail-user-heading{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: rgba(0,0,0,0.4);
      }
      .detail-user-value{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
      }
    }
    .detail-user-time{
      grid-column: 3;
      @include flex-row;
      font-size: 12px;
      align-items: flex-end;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 400;
      color: rgba(0,0,0,0.6);
    }
  }
  .detail-location{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    .detail-location-img{
      grid-column: 1;
      @include flex-row-center;
      filter: invert(0%) sepia(0%) saturate(7465%) hue-rotate(338deg) brightness(91%) contrast(109%);
      opacity: 0.5;
      .location-img{
        width: 30px;
        height: 30px;
      }
    }
    .detail-location-data{
      grid-column: 2;
      @include flex-column;
      .detail-location-heading{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: rgba(0,0,0,0.4);
      }
      .detail-location-value{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
      }
    }
  }
  .detail-date{
    display: grid;
    grid-template-columns: 1fr 4fr;
    .detail-date-img{
      grid-column: 1;
      @include flex-row-center;
      .date-img{
        width: 30px;
        height: 30px;
        filter: invert(0%) sepia(0%) saturate(7465%) hue-rotate(338deg) brightness(91%) contrast(109%);
        opacity: 0.4;
      }
    }
    .detail-date-data{
      display: flex;
      flex-direction: column;
      .detail-date-heading{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: rgba(0,0,0,0.4);
      }
      .detail-date-value{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
      }
    }
  }
  .offer-card{
    width: 100% !important;
    box-shadow: rgba(0,0,0,0.1) 0px 0px 7px !important;
    transition: all 0.4s ease  !important;
    cursor: pointer !important;
    border-radius: 4px !important;
    border: 0 !important;
    border-bottom: 1px solid #2320CC !important;
    &:hover{
      box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 12px !important;
      transform: translateY(-10px) !important;
    }
    .header{
      @include flex-column-center-important;
      .offer-info{
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .offer-price{
        font-size: 35px;
        line-height: 1.5;
        letter-spacing: 0.25px;
        color: rgb(0, 0, 0);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
      }
    }
    .offer-button-box{
      @include flex-row-center;
    }
    .offer-button{
      @include blue-button;
    }
  }
  .detail-info{
    font-size: 18px;
    line-height: 1.7;
    @include flex-column;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    color: rgb(61,61, 78);
    span{
      font-size: 25px;
      margin-bottom: 10px;
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 700;
      color: black;
    }
  }
  .detail-offer{
    @include flex-column;
    span{
      font-size: 20px;
      @include sub-heading-1
    }
  }
}

//scss for chat.jsx
.chat-heading{
   span{
     font-size: 15px;
     @include sub-heading-1
   }
}
.input-card{
  width: 100% !important;
  height: fit-content !important;
  border-bottom: 1px solid #2320CC !important;
  .input-label{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
  }
  input{
    border: none !important;
    box-shadow: none !important;
  }
  textarea{
    width: 100% !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .errors{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: red;
  }
  .extra{
    width: 100%;
    height: fit-content;
    padding: 5px;
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    button{
      @include sub-heading-1;
      font-size: 15px;
      border: none;
      background-color: white;
      color: #2320CC;
      &:hover{
        cursor: pointer;
      }
    }
    .totalwords{
      @include sub-heading-1;
      font-size: 15px;
      color: #2320cc;
    }
  }
}

.messages{
  width: 100%;
  height: fit-content;
  padding: 10px;
  margin-top: 10px;
  .message{
    width: 100%;
    height: fit-content;
    @include flex-row;
    padding-top: 10px;
    padding-bottom: 10px;
    .creater{
       height: 40px;
       width: 40px;
       border-radius: 50%;
       margin-left: 10px;
       margin-right: 10px;
       background-color: grey;
       opacity: 0.5;
    }
    .text{
      width: 80%;
      height: fit-content;
      background-color: #f6f8fd;
      color: #545a77;
      padding: 10px;
      border-radius: 5px;
    }
  }
  .message-2{
     width: 100%;
     height: fit-content;
     display: grid;
     grid-template-rows: 1;
     grid-template-columns: 5fr 1fr;
     padding-top: 10px;
     padding-bottom: 10px;
     .creater{
       grid-column: 2;
       grid-row: 1;
       height: 40px;
       width: 40px;
       border-radius: 50%;
       margin-left: 10px;
       margin-right: 5px;
       background-color: grey;
       opacity: 0.5;
     }
     .text{
       grid-column: 1;
       grid-row: 1;
       width: 310px;
       word-wrap: break-word;
       height: fit-content;
       text-align: left;
       background-color: #545a77;
       opacity: 0.8;
       color: #f6f8fd;
       padding: 10px;
       border-radius: 5px;
     }
  }
}