@import "./mixins";

.task-create-form{
  .heading{
      font-size: 20px;
      margin-bottom: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: #2320CC;
  }
  .input-card{
    width: 100% !important;
    height: fit-content !important;
    border-bottom: 1px solid #2320CC !important;
    .input-label{
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 700;
    }
    input{
      border: none !important;
      box-shadow: none !important;
    }
    .errors{
      font-family: 'Nunito Sans', sans-serif;
      font-weight: 700;
      font-size: 13px;
      color: red;
    }
  }
  .task-form-actions{
    @include flex-row;
    align-items: center;
    justify-content: flex-end;
    .submit-button-task{
      @include blue-button;
      margin-bottom: 20px;
    }
  }
}